*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family:sans-serif;
}
.container{
    width: 90%;
    margin: 0 auto;
}
header {
	position: sticky;
	top: 0;
	overflow: hidden;
	z-index: 50;
    background-color: #333;
}
nav{
	padding: 10px;
	/* box-shadow: 5px 5px 10px black;
	background-color: white; */
}
.navbar{
	display: flex;
	justify-content: space-between;
	align-items: center;
    color: antiquewhite;
}
.nav_itms ul{
    list-style-type: none;
}
.menu_bar ul li{
    display: inline;
    margin: 0 5px;
    font-size: 20px;
}
.menu_bar ul li a{
    text-decoration: none;
    color: antiquewhite;
}
.first_sec{
	background-image: url(../il_images/infinite-loop-01.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
    padding: 150px;
    background-attachment: fixed;
}
.first_cont h1{
    font-size: 3.5rem;
    text-shadow: 2px 2px 2px #333;
    text-align: center;
    color: white;
}
.first_cont p{
    font-size: 25px;
    text-shadow: 2px 2px 2px #333;
    text-align: center;
    color: white;
    padding-bottom: 50px;
}
.next{
    /* background-color: steelblue; */
    text-align: center;
}
.first_cont i{
    font-size: 40px;
    text-align: center;
    color: aliceblue;
    background-color: steelblue;
    padding:15px 50px;
    top: -30px;
}
.what{
    margin: 30px;
}
.what h1{
    font-size: 40px;
    color: cadetblue;
}
.what p{
    font-size: 18px;
}
.we_do{
    display: grid;
    grid-template-columns: auto auto;
}
.do_blk{
    display: flex;
    gap: 20px;
    margin: 50px 0;
}
.do_blk i{
    font-size: 35px;
    color: cadetblue;
}
.do_blk h2{
    font-size: 35px;
    color: cadetblue;
}
.do_blk p{
    font-size: 18px;
    color: darkolivegreen;
    margin-bottom: 20px;
}
button{
    padding: 20px;
    background-color: steelblue;
    color: antiquewhite;
    border-radius: 10px;
}
.third_sec{
    background-image: url(../il_images/infinite-loop-02.jpg);
    background-repeat: no-repeat;
	background-size: 100%;
    /* background-position: center 178px; */
    padding:200px 0;
    background-attachment: fixed;
}
.third_cont{
    padding:30px;
}
.third_cont h2{
    text-align: center;
    font-size: 40px;
    color: white;
    margin-bottom: 20px;
}
.third_cont p{
    text-align: center;
    font-size: 18px;
    color: white;
}
.testi{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 15px;
    padding: 30px;
    color: white;
}
.cards img{
   border-radius: 50%;
   margin-bottom: 50px;
}
.forth_cont h2{
    font-size: 40px;
    text-align: center;
    color: cadetblue;
}
.forth_cont p{
    padding: 20px;
    font-size: 18px;
}
.forth_cont{
    padding: 70px;
}
.imge_cont{
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.images{
    padding: 50px;
}
footer{
    background-image: url(../il_images/infinite-loop-03.jpg);
    background-repeat: no-repeat;
	background-size: 100%;
    padding:100px;
    background-attachment: fixed;
}
.last_cont{
    color: white;
}
.contact{
    text-align: center;
}
.contact h2{
    font-size: 40px;
}
.contact p{
    font-size: 18px;
    padding: 20px;
}
.info{
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}
.info p{
    margin-top: 30px;
}
.form h6{
    font-size: 18px;
}
input{
    border: 1px solid white;
    border-radius: 5px;
    background-color: transparent;
    padding: 5px;
    margin: 5px 0;
    width: 100%;
}
input::placeholder{
    color: white;
}
#Copyright{
    color: white;
    padding-top: 50px;
    font-size: 18px;
}
/* mobile nav start  */
.mobile_nav{
   padding: 10px 0; 
   display: none;
    }
    .mobile_block{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav_menu_itms{
        list-style-type: none;
    }
    .nav_menu_itms li {
		font-size: 12px;
        padding: 5px;
	}  
    .nav_menu_itms li a{
        text-decoration: none;
        color: black;
    }
    .hameburger{
        position: relative;
        transition: 1s;

    }
    .nav_menu_itms{
        display: none;
        position: absolute;
        background-color: white;
        z-index: 999;
        padding: 10px;
        right: -50px;
    }
  
    .hameburger:hover .nav_menu_itms{
        display: block;
    }
@media screen and (max-width:687px){
    .nav_menu_itms{
        
        right: -10px;
    }
    .mobile_nav{
        display: block;
         }
         header{
            display: none;
         }
         .first_cont h1{
            font-size: 30px;
         }
         .first_cont p{
            font-size: 12px;
         }
         .what h1{
            font-size: 30px;
         }
         .what p{
            font-size: 12px;
        }
        .we_do{
            display: grid;
            grid-template-columns: auto;
        }
        .do_blk{
            padding: 20px;
        }
        .do_blk h2{
            font-size: 30px;
        }
        .do_blk p{
            font-size: 12px;
        }
        .third_cont h2{
            font-size: 30px;
            color: white;
            /* margin-bottom: 20px; */
        }
        .third_cont p{
            font-size: 12px;
            color: white;
        }
        .testi{
            display: grid;
            grid-template-columns: auto;
            gap: 15px;
            padding: 30px;
            color: white;
        }
        .cards img{
            margin: 0 auto;
        }
        .contact h2{
            font-size: 30px;
        }
        .contact p{
            font-size: 12px;
        }
        .form p{
            font-size: 12px;
        }
        #Copyright{
            color: white;
            padding-top: 50px;
            font-size: 12px;
        }
}
